@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'IranNastaliq';
    src: url('../src/fonts/IranNastaliq.eot') format("eof");
    src: url('../src/fonts/IranNastaliq.ttf') format('ttf');
    src: url('../src/fonts/IranNastaliq.woff') format('woff');
}

body {
    font-family: Vazirmatn, sans-serif;
}

.carousel-open:checked + .carousel-item {
				position: static;
				opacity: 100;
			}
			.carousel-item {
				-webkit-transition: opacity 0.6s ease-out;
				transition: opacity 0.6s ease-out;
			}
			#carousel-1:checked ~ .control-1,
			#carousel-2:checked ~ .control-2{
				display: block;
			}
			.carousel-indicators {
				list-style: none;
				margin: 0;
				padding: 0;
				position: absolute;
				bottom: 2%;
				left: 0;
				right: 0;
				text-align: center;
				z-index: 10;
			}
			#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
			#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet{
				color: #2b6cb0;  /*Set to match the Tailwind colour you want the active one to be */
}

.last-courses-heading::before{
	content: "";
	width: 2000px;
	height: 5px;
	border-radius: 25px;
	background-color: rgb(0,191,254,0.2);;
	position: absolute;
	right: -1990px;
	bottom: 10px;
}

.last-courses-heading::after{
	content: "";
	width: 30px;
	height: 5px;
	border-radius: 25px;
	background-color: #00b3e9;
	position: absolute;
	right: 0;
	bottom: 10px;
}


/* body {
    font-family: "IranNastaliq";
} */